<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,530},{91,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,97}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,436},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,436},{84,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,120}}</string>
                <key>sourceSize</key>
                <string>{84,120}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,436},{92,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,522},{103,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,109}}</string>
                <key>sourceSize</key>
                <string>{103,109}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,436},{84,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,120}}</string>
                <key>sourceSize</key>
                <string>{84,120}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,522},{103,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,109}}</string>
                <key>sourceSize</key>
                <string>{103,109}</string>
            </dict>
            <key>guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,432}}</string>
                <key>sourceSize</key>
                <string>{446,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choujiang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f790a7c22d1a19d4cd7facf47c28979$</string>
            <key>textureFileName</key>
            <string>choujiang.png</string>
        </dict>
    </dict>
</plist>
