<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cchongwu/gaoshou02.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/dashi02.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>74</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/gaoshou03.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>effect/chuizhi.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/huaban.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>153</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/gaoshou04.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/dashi03.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cyanjing.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cyanpi02.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cyanpi01.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>103</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>135</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cyanpi03.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>178</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cyanpi04.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>433</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cyanpi05.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cshou01.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/gaoshou05.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cerduo02.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cerduo01.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/xinshou01.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>59</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/gaoshou01.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/dashi01.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/dashi04.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cshou02.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>effect/caizhi.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/qiaogu07.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>416</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/qiaogu02.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/qiaogu03.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/qiaogu01.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/tishi01.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/tishi02.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>187</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>659</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/qiaogu06.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>276</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/qiaogu08.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/qiaogu05.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/qiaogu04.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/ctouying.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>529</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/fengkuang07.png</key>
			<dict>
				<key>width</key>
				<integer>406</integer>
				<key>height</key>
				<integer>438</integer>
				<key>originalWidth</key>
				<integer>406</integer>
				<key>originalHeight</key>
				<integer>438</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>570</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/fengkuang06.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>716</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/fengkuang05.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/fengkuang04.png</key>
			<dict>
				<key>width</key>
				<integer>273</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>483</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/fengkuang02.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>837</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/fengkuang03.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cchongwu/cshenti.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/byanjing.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>483</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/byanpi01.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>462</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/byanpi02.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/bshou02.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/bshou01.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>317</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/berduo02.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/berduo01.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/bshenti.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>601</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bchongwu/btouying.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>achongwu/ashou.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>achongwu/ayanpi.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>881</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>achongwu/ayanpi01.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>915</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>achongwu/aerduo02.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>462</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>achongwu/aerduo01.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>dchongwulv0.png</string>
			<key>realTextureFileName</key>
			<string>dchongwulv0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>