<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jiangbei/jbgq.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangbei/djcx02.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>effect/hecheng.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>09.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingdong3.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiangbei/jiangbeiz01.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>jiangbei/jiangbeiz02.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>jiangbei/jiangbeiz03.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingdongguai/bq05.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingdongguai/bq02.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>237</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingdongguai/bq01.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuye04.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuye03.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuye02.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuye01.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuotou5.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/djcx02.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/djcx01.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/tengmans.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiban_erji.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaierji.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_2.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_10.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>135</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_17.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_16.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_15.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_14.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_13.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_12.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_11.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mofa_1.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>902</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuotou7.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>392</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuotou6.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuotou4.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuotou3.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>433</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/shuotou2.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>241</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/gkrwdj010.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiesuo/gkrwdj011.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>471</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>effect/baiban41.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>bingkuaixiaoshi/suibing010.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing09.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>235</integer>
				<key>y</key>
				<integer>475</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing08.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>16</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing07.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>593</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing06.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing05.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>471</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing04.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>433</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing03.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing02.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>47</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/suibing01.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>731</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/baiban40.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>762</integer>
				<key>y</key>
				<integer>199</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/baiban39.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/baiban37.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>565</integer>
				<key>y</key>
				<integer>433</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/baiban38.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>89</integer>
				<key>y</key>
				<integer>478</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiban4.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>802</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bingkuaixiaoshi/baiban32.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baiban2.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>paizhi_yuansu0.png</string>
			<key>realTextureFileName</key>
			<string>paizhi_yuansu0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>