<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,717},{124,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,164}}</string>
                <key>sourceSize</key>
                <string>{124,164}</string>
            </dict>
            <key>0_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,811},{127,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,167}}</string>
                <key>sourceSize</key>
                <string>{127,167}</string>
            </dict>
            <key>1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,551},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>1024_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,641},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>128.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,385},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>128_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,471},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,258},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>16384.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,547},{121,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{121,160}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>16384_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,301},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>16_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,131},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,258},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,385},{121,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{121,160}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>2048_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>256.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,258},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>256_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,258},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>32768.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,879},{121,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{121,160}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>32768_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>32_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,131},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>4096.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,717},{121,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{121,160}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>4096_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>512.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,131},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>512_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,131},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>64_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,131},{125,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,164}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>8192.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,883},{121,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{121,160}}</string>
                <key>sourceSize</key>
                <string>{125,164}</string>
            </dict>
            <key>8192_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
            <key>8_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,168}}</string>
                <key>sourceSize</key>
                <string>{127,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>number.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2150fbe92702da896d84963836dc5902:1/1$</string>
            <key>textureFileName</key>
            <string>number.png</string>
        </dict>
    </dict>
</plist>
